$white: #ffffff;
$highlight: #d2476e;
$dark: #222222;

html, body {
    // height: 100vh;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.wrapper_wide {
    width: 90%;
    margin: 0 auto;
}

.wrapper_skinny {
    width: 60%;
    margin: 0 auto;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.button {
    color: $white;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    display: inline-block;
    min-width: 6rem;
}

.button_highlight {
    background: $highlight;
    transition: background .3s ease-in-out;
    &:hover {
        background: darken($highlight, 9%);
    }
}

.button_white {
    background: $white;
    color: $dark;
    transition: background .3s ease-in-out;
    &:hover {
        background: darken($white, 9%);
    }
}



@import './responsive_main.scss';
@import './index.scss';
@import './responsive_index.scss';
@import './normalize.css';
