@media screen and (max-width: 660px) {
    html, body {
        font-size: 12px;
        box-sizing: border-box !important;
    }

    header {
        text-align: center;
        .wrapper_wide {
            width: 100%;

            #logo {
                float: none;
                font-size: 2rem;
            }

            nav {
                box-sizing: border-box;
                height: 3rem;
                background-color: $dark;
                line-height: 3rem;

                // padding: 1rem 0;
                margin-top: 2.5rem;
                float: none;
                ul {
                    padding: 0;
                    li {
                        margin: 0 2rem;
                        a {
                            color: $white;
                            &:hover {
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

    }

    .banner {
        display: none;
    }

    form {
        width: 100%;
        .field {
            input[type="email"], input[type="password"], textarea {
                border-radius: 0;
                -webkit-appearance:none; //去除系统默认的样式
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 点击高亮的颜色
                transition: all .1s ease-in-out;
                &:focus {
                    box-shadow: 0 0 0.5rem lighten($dark, 50%);
                }
            }
        }
    }

    .button {
        font-size: 1.2rem;
    }
}
